
.Chart__rectangle__large.outOfFocus .Rectangles__rect,
.Chart__rectangle.outOfFocus .Rectangles__rect,
.Chart__square.outOfFocus .Rectangles__rect {
    fill: var(--mui-palette-background-primary);
}

.Rectangles__marked {
    opacity: 1;
}

.Rectangles__unmarked {
    opacity: 0.4;
}

.Rectangles__rect {
    transition: all 0.3s ease-out;
    fill: var(--mui-palette-primary-main);
}

.Rectangles__rect--is-next-to-selected {
    opacity: 0.4;
}
