.pages {
    margin: 30px 0 0 280px
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 40px;
}