

.Polyline {
    transition: all 0.3s ease-out;
}

.Polyline--type-line {
    fill: none;
    stroke-width: 3px;
    stroke-linecap: round;
}

.Polyline--type-circle {
    fill: none;
    stroke-width: 8px;
    stroke-linecap: round;
}

.Polyline--type-area {
    stroke-width: 0;
}

.Polyline--type-line,
.Polyline--type-circle {
    stroke: var(--mui-palette-primary-main);
}

.Polyline--type-area {
    fill: var(--mui-palette-primary-main);
    opacity: 0.6;
}

.Polyline--type-line--is-next-to-selected,
.Polyline--type-circle--is-next-to-selected {
    stroke: var(--mui-palette-primary-main);
    opacity: 0.4;
}

.Polyline--type-area--is-next-to-selected {
    fill: var(--mui-palette-primary-main);
    opacity: 0.2;
}

.listening-rect {
    fill: transparent;
}

.yo-circle {
    fill: var(--mui-palette-primary-main);
}

.outOfFocus .yo-circle {
    fill: var(--mui-palette-background-primary);
}

.tooltip-line {
    fill: #292e31;
    opacity: 0;
}