
.Axis__line {
    stroke: #bdc3c7;
}

.Axis__label {
    text-anchor: middle;
    font-size: 0.8em;
    letter-spacing: 0.01em;
    fill: #000 !important;
}

.Axis__tick {
    text-align: right;
    transition: all 0.3s ease-out;
}

.AxisHorizontal .Axis__tick {
    text-anchor: end;
}

.AxisVertical .Axis__tick {
    dominant-baseline: middle;
    text-anchor: end;
}