:root {
    --theme-light-color-primary: #ec008c;
    --theme-light-color-primary-dark: #d4007e;
    --theme-light-color-primary-darker: #c90077;
    --theme-light-color-primary-darkest: #a50062;
    --theme-light-color-primary-light: #ff0599;
    --theme-light-color-primary-lighter: #ff109e;
    --theme-light-color-primary-lightest: #ff34ac;

    --theme-dark-color-primary: #edd018;
    --theme-dark-color-primary-dark: #dabf11;
    --theme-dark-color-primary-darker: #ceb410;
    --theme-dark-color-primary-darkest: #a9940d;
    --theme-dark-color-primary-light: #efd530;
    --theme-dark-color-primary-lighter: #f0d73c;
    --theme-dark-color-primary-lightest: #f3df61;

    --dark-color: #212529;
    --light-color: #f8f9fa;
}

body {
    letter-spacing: -0.011em;
    font-family: 'Inter var', sans-serif;
    font-size: 16px;
    color: #34495e;
    background: #f1f3f5;
}

/* adjustment for sidebar */
#root,
.App {
    margin-right: 7.5em
}

h1 {
    font-weight: 900;
    margin: 0.4em 0 0.6em;
}

/* placeholders */
.placeholder {
    background: #ecf0f1;
}

.Chart__rectangle,
.Chart__rectangle__large {
    height: 350px;
    min-width: 350px;
    width: calc(100% + 1em);
    flex: 1;
}

.Chart__square {
    height: 350px;
    width: 350px;
}

.App__charts {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: -0.5em;
}

.Chart__rectangle,
.Chart__rectangle__large,
.Chart__square {
    padding: 0.6em 1em;
    margin: 0.5em;
}

.resize-animation-stopper .Chart * {
    transition: none !important;
}

@media screen and (min-width: 1004px) {
    .open main {
        margin-left: 0 !important;
    }

    .Chart__rectangle {
        min-width: 550px;
    }

    .Chart__rectangle__large {
        min-width: 750px;
    }
}

@media screen and (max-width: 600px) {

    .containerOnDesktop {
        display: none;
        visibility: hidden;
    }

    .containerOnDesktop * {
        display: none;
        visibility: hidden;
    }

    .Chart__rectangle,
    .Chart__rectangle__large,
    .Chart__square {
        min-width: calc(100vw - 48px);
        width: calc(100vw - 48px);
        height: calc(100vw - 48px);
    }

    .Chart__rectangle .Chart,
    .Chart__rectangle__large .Chart,
    .Chart__square .Chart {
        width: calc(100vw - 48px);
        height: calc(100vw - 48px);
    }
}

.dark .Chart__rectangle,
.dark .Chart__rectangle__large,
.dark .Chart__square {
    background: #252423;
}

.light .Chart__rectangle,
.light .Chart__rectangle__large,
.light .Chart__square {
    background: #fff
}

.dark .Circle--type-circle {
    fill: var(--theme-dark-color-primary);
}

.light .Circle--type-circle {
    fill: var(--theme-light-color-primary);
}

.dark .Rectangles__rect {
    fill: var(--theme-dark-color-primary);
}

.light .Rectangles__rect {
    fill: var(--theme-light-color-primary);
}

.dark .Polyline--type-line {
    stroke: var(--theme-dark-color-primary);
}

.light .Polyline--type-line {
    stroke: var(--theme-light-color-primary);
}

.dark .Polyline--type-area {
    fill: var(--theme-dark-color-primary);
}

.light .Polyline--type-area {
    fill: var(--theme-light-color-primary);
}

.dark .Axis__line {
    stroke: var(--light-color)
}

.light .Axis__line {
    stroke: #bdc3c7;
}

.dark .Chart text {
    fill: var(--light-color)
}

.light .Chart text {
    fill: #95a5a6;
}

.dark .domain line {
    stroke: #dadada;
}

.light .domain line {
    stroke: #dadada;
}

.dark .tick line {
    stroke: #dadada;
}

.light .tick line {
    stroke: #dadada;
}

.formOnDesktop {
    margin-top: 5px !important;
    margin-bottom: 15px !important;
}

.formOnMobile {
    margin-top: 30px !important;
}

.gridOnDesktop__left,
.gridOnDesktop__right {
    padding-bottom: 0 !important;
}

.gridOnDesktop__right {
    padding-top: 30px !important;
}


.gridOnDesktop__right .RemoveIcon {}

.gridOnDesktop__right .AddIcon {
    margin-right: 15px;
}

.dark .Chart__rectangle__large.active,
.dark .Chart__rectangle.active,
.dark .Chart__square.active {
    border: 1px solid var(--theme-dark-color-primary);
}

.dark .Chart__rectangle__large.outOfFocus .Axis__line,
.dark .Chart__rectangle.outOfFocus .Axis__line,
.dark .Chart__square.outOfFocus .Axis__line {
    stroke: #161C24;
}

.dark .Chart__rectangle__large.outOfFocus .Circles,
.dark .Chart__rectangle.outOfFocus .Circles,
.dark .Chart__square.outOfFocus .Circles {
    fill: #161C24;
}

.dark .Chart__rectangle__large.outOfFocus .Rectangles__rect,
.dark .Chart__rectangle.outOfFocus .Rectangles__rect,
.dark .Chart__square.outOfFocus .Rectangles__rect {
    fill: #161C24;
}

.dark .Chart__rectangle__large.outOfFocus .Polyline--type-line,
.dark .Chart__rectangle.outOfFocus .Polyline--type-line,
.dark .Chart__square.outOfFocus .Polyline--type-line {
    stroke: #161C24;
}

.dark .Chart__rectangle__large.outOfFocus .Polyline--type-area,
.dark .Chart__rectangle.outOfFocus .Polyline--type-area,
.dark .Chart__square.outOfFocus .Polyline--type-area {
    fill: #161C24;
}


.dark .Chart__rectangle__large.outOfFocus .Arc--type-pie,
.dark .Chart__rectangle.outOfFocus .Arc--type-pie,
.dark .Chart__square.outOfFocus .Arc--type-pie {
    fill: #161C24;
}

.dark .Chart__rectangle__large.outOfFocus .Arc--type-donut,
.dark .Chart__rectangle.outOfFocus .Arc--type-donut,
.dark .Chart__square.outOfFocus .Arc--type-donut {
    fill: #161C24;
}

.dark .Chart__rectangle__large.outOfFocus .Axis__tick,
.dark .Chart__rectangle.outOfFocus .Axis__tick,
.dark .Chart__square.outOfFocus .Axis__tick {
    fill: #161C24;
}

.dark .Chart__rectangle__large.outOfFocus .Axis__label,
.dark .Chart__rectangle.outOfFocus .Axis__label,
.dark .Chart__square.outOfFocus .Axis__label {
    fill: #161C24;
}

.light .Chart__rectangle__large.active,
.light .Chart__rectangle.active,
.light .Chart__square.active {
    border: 1px solid var(--theme-light-color-primary);
}

.light .Chart__rectangle__large.outOfFocus .Axis__line,
.light .Chart__rectangle.outOfFocus .Axis__line,
.light .Chart__square.outOfFocus .Axis__line {
    stroke: #eceff1;
}

.light .Chart__rectangle__large.outOfFocus .Circles,
.light .Chart__rectangle.outOfFocus .Circles,
.light .Chart__square.outOfFocus .Circles {
    fill: #eceff1;
}

.light .Chart__rectangle__large.outOfFocus .Rectangles__rect,
.light .Chart__rectangle.outOfFocus .Rectangles__rect,
.light .Chart__square.outOfFocus .Rectangles__rect {
    fill: #eceff1;
}

.light .Chart__rectangle__large.outOfFocus .Polyline--type-line,
.light .Chart__rectangle.outOfFocus .Polyline--type-line,
.light .Chart__square.outOfFocus .Polyline--type-line {
    stroke: #eceff1;
}

.light .Chart__rectangle__large.outOfFocus .Polyline--type-area,
.light .Chart__rectangle.outOfFocus .Polyline--type-area,
.light .Chart__square.outOfFocus .Polyline--type-area {
    fill: #eceff1;
}

.light .Chart__rectangle__large.outOfFocus .Arc--type-pie,
.light .Chart__rectangle.outOfFocus .Arc--type-pie,
.light .Chart__square.outOfFocus .Arc--type-pie {
    fill: #eceff1;
}

.light .Chart__rectangle__large.outOfFocus .Arc--type-donut,
.light .Chart__rectangle.outOfFocus .Arc--type-donut,
.light .Chart__square.outOfFocus .Arc--type-donut {
    fill: #eceff1;
}

.light .Chart__rectangle__large.outOfFocus .Axis__tick,
.light .Chart__rectangle.outOfFocus .Axis__tick,
.light .Chart__square.outOfFocus .Axis__tick {
    fill: #eceff1;
}

.light .Chart__rectangle__large.outOfFocus .Axis__label,
.light .Chart__rectangle.outOfFocus .Axis__label,
.light .Chart__square.outOfFocus .Axis__label {
    fill: #eceff1;
}

.config-closed .App__charts__config {
    display: none;
}

.config-open .App__charts__config {
    display: block;
}

.config__select {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.config__button {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.config__divider {
    margin-top: 15px !important;
    margin-bottom: 20px !important;
}

.dark .config__select * {
    color: var(--theme-dark-color-primary);
}

.light .config__select * {
    color: var(--theme-light-color-primary);
}

.imgLink {
    margin: 5px 0 0 10px;
}

.headerSvg {
    height: 28px;
    width: 28px;
}

.headerSvg [fill='#123456'] {
    fill: var(--light-color);
}

.headerSvg:hover [fill='#123456'] {
    fill: #FABFE2;
}

rect:hover {
    fill: var(--theme-light-color-primary) !important;
}

.tooltipD3 {
    opacity: 0;
    position: absolute;
    top: -12px;
    left: 0;
    padding: 0.6em 1em;
    background: #fff;
    text-align: center;
    border: 1px solid #ddd;
    z-index: 10;
    transition: all 0.2s ease-out;
    pointer-events: none;
}

.tooltipD3:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 12px;
    height: 12px;
    background: white;
    border: 1px solid #ddd;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: translate(-50%, 50%) rotate(45deg);
    transform-origin: center center;
    z-index: 10;
}

.tooltipD3-range {
    margin-bottom: 0.2em;
    font-weight: 600;
}